<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Play Game</title>
  <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
<h1>Choose a Box</h1>
<form action="/result" method="post">
  <div th:each="box, iterStat : ${boxes}">
    <input type="radio" name="selectedBox" th:value="${iterStat.index}" th:id="'box' + ${iterStat.index}">
    <label th:for="'box' + ${iterStat.index}">Box [[${iterStat.index + 1}]]</label>
  </div>
  <button type="submit">Play</button>
</form>
<footer>Leen Al-Ahmad</footer>
</body>
</html>
